#wrapper{
	width: 95%;
	margin: 0 auto;
}
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}
	
	
.head {
	height: 100px;
	background-color: black;
	color: white;
}

.main {
	width: 85%;
	float: right;
	background-color: white;
	height: 550px;
}
	
* {box-sizing: border-box;}



.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}




.header a.active {
  background-color: dodgerblue;
  color: white;
  text-align: center;
}





body {
  height: 80vh;
  text-align: center;
  background-repeat: no-repeat;
}
}


@media screen and (max-width: 980px) {
	#wrapper {
	width: 95%;
	}
	
	.main {
	width: 65%;
	}
	
	
}

@media screen and (max-width: 700px) {
	.main {
	width: auto;
	float: none;
}
  
    .sml{
	width: 150px;
	height: 150px;

}
}